body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tituloDelJuego {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;

	font-size: 1.5em;

	color: rgb(85, 108, 170);
	margin: 2em;
}

.CellsContainer {
	background-color: white;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	border-radius: 10px;

	padding: 20px;
	margin: 4rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ContFilas {
	width: 75vh;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 500px) {
	.ContFilas {
		width: 75vw;
		height: 75vw;
	}
}

/* @media (max-width: 700px) {
	.CellsContainer {
	
	}
} */
