body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tituloDelJuego {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;

	font-size: 1.5em;

	color: rgb(32, 32, 32);
	margin: 2em;
}

.CellsContainer {
	background-color: white;
	box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	/* 
	width: 75%;
	height: 75%;
	display: flex; */

	padding: 20px;
	margin: 4rem auto;
}

.ContFilas {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
